name: vte_mobile
description: "VTE Mobile Witness - The Edge Verifier"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  http: ^1.1.0
  camera: ^0.10.5
  path_provider: ^2.1.2
  permission_handler: ^11.0.1
  sqflite: ^2.3.0
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
